<!--The content below is only a placeholder and can be replaced.-->
<div class="search-city">
  <form (submit)="searchCity()">
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="cityName" name="cityName" placeholder="Your city name">
    </div>
  </form>
</div>
<div class="main">
  <p id="time_zone">{{location}}</p>
  <p id="date">{{newDate}}</p>
  <img id="weather_img" [src]="fullImagePath">
  <p id="temperature">{{tempC}}</p>
  <p id="current_weather">{{summary}}</p>
  <p id="humidity">{{humidity}}</p>
  <p id="pressure">{{pressure}}</p>
</div>


